<%
   #     Copyright 2014 Nicholas Lochner
   #
   #     This file is part of Nicholas Lochner's Portfolio.
   #
   #     Nicholas Lochner's Portfolio is free software: you can redistribute it and/or modify
   #     it under the terms of the GNU General Public License as published by
   #     the Free Software Foundation, either version 3 of the License, or
   #     (at your option) any later version.
   #
   #     Nicholas Lochner's Portfolio is distributed in the hope that it will be useful,
   #     but WITHOUT ANY WARRANTY; without even the implied warranty of
   #     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   #     GNU General Public License for more details.
   #
   #     You should have received a copy of the GNU General Public License
   #     along with Nicholas Lochner's Portfolio.  If not, see <http://www.gnu.org/licenses/>.
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Nicholas Lochner">
  <!-- <link rel="icon" href="../../favicon.ico">-->
  <title>Nicholas Lochner</title>
  <%= erb(:head_includes, :layout => false) %>
</head>
<body>

<%#= erb(:navigation, :layout => false) #@todo: Refactor to use the navigation.erb%>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Nicholas Lochner</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/projects">Projects</a></li>
        <li><a href="/resume">Resume</a></li>
        <li data-toggle="modal" data-target="#contactModal"><a href="#">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <br>
  <h3>Hello!</h3>
  I am a Junior in Computer Science at the University of Illinois at Urbana-Champaign. I am also a course assistant for CS241: Systems Programming.
  <br>
  This is my personal website containing a <a href="/projects">portfolio</a> of my past and current projects.
  <h4 id="contact">Featured Projects</h4>
  <a href="/projects#PlanetGen_RTS">PlanetGen RTS</a> - A real time strategy game featuring procedurally generated terrain written in C++<br>
  <a href="/projects#Portfolio">Project Portfolio</a> - A subversion project portfolio written in Ruby, you are viewing it right now!<br>
  <a href="/projects#CSAir">CSAir</a> - An airline management web application written in Python<br>
  <a href="/projects#Java_Chess">Java Chess</a> - Chess game written in Java<br>
  <a href="/projects#CS241_Programming_Exams">CS241 Programming Exams</a> - Two programming exams written for CS241: Systems Programming<br>
  <a href="/projects#Teamspeak_3_Music_Bot">Teamspeak 3 Music Bot</a> - A chat bot written in C for TeamSpeak 3 which broadcasts music<br>
  <a href="/projects#Old_Projects">Old Projects</a> - Web development and other old projects<br>
  <br>
  <b><a href="/projects">Click here</a></b> to view my full project portfolio.
  <h4 id="contact">Contact Me</h4>
  <p>
    <script TYPE="text/javascript">
        <!--
        // protected email script by Joe Maller
        // JavaScripts available at http://www.joemaller.com
        // this script is free to use and distribute
        // but please credit me and/or link to my site

        emailE='gmail.com'
        emailE=('njlochner' + '@' + emailE)
        document.write('<A href="mailto:' + emailE + '" style="color:#009900">' + emailE + '</a>')

        //-->
    </script>
    <br>(772) 206-0737
  </p>
  <!--<h4>Featured projects</h4>-->

</div>

<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Contact Me</h4>
      </div>
      <div class="modal-body">

        <script TYPE="text/javascript">
            <!--
            // protected email script by Joe Maller
            // JavaScripts available at http://www.joemaller.com
            // this script is free to use and distribute
            // but please credit me and/or link to my site

            emailE='gmail.com'
            emailE=('njlochner' + '@' + emailE)
            document.write('<A href="mailto:' + emailE + '" style="color:#009900">' + emailE + '</a>')

            //-->
        </script>
        <br>(772) 206-0737
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="/fb/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="/fb/jquery.fancybox.css?v=2.1.5" media="screen" />

<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>

</body>
</html>
